In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/rahulGarg003/Datasets/main/food-delivery-time-dataset.csv')

In [21]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [173]:
df2 = df.copy()

In [174]:
df2.drop([
    'ID',
    'Delivery_person_ID', 
    'Restaurant_latitude', 
    'Restaurant_longitude', 
    'Delivery_location_latitude', 
    'Delivery_location_longitude',
    'Order_Date',
    'Time_Orderd',
    'Type_of_order',
    'City',
    'Time_Order_picked'
], axis=1, inplace=True)

In [175]:
df2

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,Festival,Time_taken (min)
0,36.0,4.2,Fog,Jam,2,motorcycle,3.0,No,46
1,21.0,4.7,Stormy,High,1,motorcycle,1.0,No,23
2,23.0,4.7,Sandstorms,Medium,1,scooter,1.0,No,21
3,34.0,4.3,Sandstorms,Low,0,motorcycle,0.0,No,20
4,24.0,4.7,Fog,Jam,1,scooter,1.0,No,41
...,...,...,...,...,...,...,...,...,...
45579,30.0,4.8,Windy,High,1,motorcycle,0.0,No,32
45580,21.0,4.6,Windy,Jam,0,motorcycle,1.0,No,36
45581,30.0,4.9,Cloudy,Low,1,scooter,0.0,No,16
45582,20.0,4.7,Cloudy,High,0,motorcycle,1.0,No,26
45583,23.0,4.9,Fog,Medium,2,scooter,1.0,No,36

In [176]:
df2.drop_duplicates(inplace=True)

In [177]:
df2.head()

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,Festival,Time_taken (min)
0,36.0,4.2,Fog,Jam,2,motorcycle,3.0,No,46
1,21.0,4.7,Stormy,High,1,motorcycle,1.0,No,23
2,23.0,4.7,Sandstorms,Medium,1,scooter,1.0,No,21
3,34.0,4.3,Sandstorms,Low,0,motorcycle,0.0,No,20
4,24.0,4.7,Fog,Jam,1,scooter,1.0,No,41

In [178]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43011 entries, 0 to 45583
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_Age      41530 non-null  float64
 1   Delivery_person_Ratings  41476 non-null  float64
 2   Weather_conditions       42617 non-null  object
 3   Road_traffic_density     42632 non-null  object
 4   Vehicle_condition        43011 non-null  int64
 5   Type_of_vehicle          43011 non-null  object
 6   multiple_deliveries      42022 non-null  float64
 7   Festival                 42783 non-null  object
 8   Time_taken (min)         43011 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 3.3+ MB

In [179]:
df2['multiple_deliveries'] = df2['multiple_deliveries'].apply(
                                lambda a: str(a)
                            ).apply(lambda a: np.nan if(a=='nan') else a)

In [180]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43011 entries, 0 to 45583
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_Age      41530 non-null  float64
 1   Delivery_person_Ratings  41476 non-null  float64
 2   Weather_conditions       42617 non-null  object
 3   Road_traffic_density     42632 non-null  object
 4   Vehicle_condition        43011 non-null  int64
 5   Type_of_vehicle          43011 non-null  object
 6   multiple_deliveries      42022 non-null  object
 7   Festival                 42783 non-null  object
 8   Time_taken (min)         43011 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 3.3+ MB

In [181]:
X =  df2.drop(['Time_taken (min)'], axis=1)
y = df2[['Time_taken (min)']]

In [182]:
X.head()

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,Festival
0,36.0,4.2,Fog,Jam,2,motorcycle,3.0,No
1,21.0,4.7,Stormy,High,1,motorcycle,1.0,No
2,23.0,4.7,Sandstorms,Medium,1,scooter,1.0,No
3,34.0,4.3,Sandstorms,Low,0,motorcycle,0.0,No
4,24.0,4.7,Fog,Jam,1,scooter,1.0,No

In [183]:
y.head()

   Time_taken (min)
0                46
1                23
2                21
3                20
4                41

In [184]:
numerical_columns = X.select_dtypes(exclude='O').columns
categorical_columns = X.select_dtypes(include='O').columns
print(numerical_columns)
print(categorical_columns)

Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Vehicle_condition'], dtype='object')
Index(['Weather_conditions', 'Road_traffic_density', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival'],
      dtype='object')

In [185]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [186]:
df2['multiple_deliveries'].isnull().sum()

989

In [187]:
# arrange the categorical columns based on the weights
category_Weather_conditions = ['Sunny', 'Windy', 'Stormy', 'Sandstorms', 'Cloudy', 'Fog']
category_Road_traffic_density = ['Low', 'Medium', 'High', 'Jam']
category_Type_of_vehicle = ['scooter', 'electric_scooter', 'motorcycle', 'bicycle']
category_Festival = ['No', 'Yes']
category_multiple_deliveries = ['0.0', '1.0', '2.0', '3.0']

In [188]:
categorical_columns

Index(['Weather_conditions', 'Road_traffic_density', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival'],
      dtype='object')

In [189]:
# Numerical Pipeleine
num_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
    ]
)

cat_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('encoder', OrdinalEncoder(
            categories=[
                category_Weather_conditions, 
                category_Road_traffic_density, 
                category_Type_of_vehicle,
                category_multiple_deliveries, 
                category_Festival
            ]
        )),
        ('scaler', StandardScaler())
    ]
)

# Preproccessor
preproccessor = ColumnTransformer(
    transformers=[
        ('num_pipeline', num_pipeline, numerical_columns),
        ('cat_pipeline', cat_pipeline, categorical_columns)
    ]
)

In [209]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
                                        X, 
                                        y, 
                                        test_size=0.2, 
                                        random_state=42
                                    )

In [210]:
X_train = pd.DataFrame(
    preproccessor.fit_transform(X_train), 
    columns=preproccessor.get_feature_names_out()
)
X_train.head()

,num_pipeline__Delivery_person_Age,num_pipeline__Delivery_person_Ratings,num_pipeline__Vehicle_condition,cat_pipeline__Weather_conditions,cat_pipeline__Road_traffic_density,cat_pipeline__Type_of_vehicle,cat_pipeline__multiple_deliveries,cat_pipeline__Festival
0,1.649767,-1.601654,-1.237470,-0.321854,-1.117932,0.813964,0.434150,-0.145986
1,-1.678490,-1.001157,-1.237470,-0.321854,-1.117932,0.813964,0.434150,-0.145986
2,-0.101947,0.500085,-0.032089,-0.321854,-0.314687,-1.342734,-1.307713,-0.145986
3,-0.101947,0.199837,1.173291,-1.489296,1.291804,0.813964,0.434150,-0.145986
4,-0.101947,-1.901902,-1.237470,0.261867,-1.117932,0.813964,0.434150,-0.145986

In [211]:
X_test = pd.DataFrame(
    preproccessor.transform(X_test),
    columns=preproccessor.get_feature_names_out()
)
X_test.head()

,num_pipeline__Delivery_person_Age,num_pipeline__Delivery_person_Ratings,num_pipeline__Vehicle_condition,cat_pipeline__Weather_conditions,cat_pipeline__Road_traffic_density,cat_pipeline__Type_of_vehicle,cat_pipeline__multiple_deliveries,cat_pipeline__Festival
0,-0.452290,0.500085,-0.032089,-0.321854,1.291804,-1.342734,-1.307713,-0.145986
1,0.248395,0.500085,1.173291,-0.905575,-1.117932,-1.342734,-1.307713,-0.145986
2,-0.101947,0.199837,-0.032089,0.845588,-0.314687,-1.342734,0.434150,-0.145986
3,1.474595,-0.700908,-0.032089,-0.321854,1.291804,0.813964,0.434150,-0.145986
4,1.649767,-0.700908,-1.237470,-0.905575,1.291804,0.813964,0.434150,-0.145986

In [212]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [213]:
def evaluate_model(true, predicted):
    mse = mean_squared_error(true, predicted)
    mae = mean_absolute_error(true, predicted)
    rmse = np.sqrt(mse)
    r2 = r2_score(true, predicted)
    adjusted_r2 = 1-(((1-r2)*(len(y)-1)) / ((len(y)-X.shape[1]-1)))
    return (mse, mae, rmse, r2, adjusted_r2)

In [214]:
model_dict = {
    'linear_regression' : LinearRegression(),
    'ridge' : Ridge(),
    'lasso' : Lasso(),
    'elasticnet' : ElasticNet()
}
model_names = list(model_dict.keys())
models = list(model_dict.values())
r2_list = []
for i in range(len(models)):
    model = models[i]
    model.fit(X_train, y_train)

    print(model_names[i])
    print('Coefficients:', model.coef_)
    print('intercept:',model.intercept_)

    mse, mae, rmse, r2, adjusted_r2 = evaluate_model(y_test, model.predict(X_test))
    r2_list.append(r2)
    print('Model Training Performance')
    print('MSE:', mse)
    print('MAE:', mae)
    print('RMSE:', rmse)
    print('R2 Score:', r2*100)
    print('Adjusted R2 Score:',adjusted_r2*100)

    print('='*35)
    print('\n')

linear_regression
Coefficients: [[ 2.31762258 -2.42628708 -1.72785512  1.97827674  3.25026621  0.30027899
   1.98647906  1.5429272 ]]
intercept: [26.428505]
Model Training Performance
MSE: 42.635407216219036
MAE: 5.199734500007964
RMSE: 6.529579405767192
R2 Score: 52.27977313851559
Adjusted R2 Score: 52.27089536969339
===================================


ridge
Coefficients: [[ 2.31756248 -2.42622995 -1.72779533  1.97821904  3.25018078  0.30030627
   1.98645924  1.54290965]]
intercept: [26.428505]
Model Training Performance
MSE: 42.635425880295124
MAE: 5.199736887354663
RMSE: 6.5295808349613935
R2 Score: 52.279752248508814
Adjusted R2 Score: 52.2708744758003
===================================


lasso
Coefficients: [ 1.45913959 -1.64663854 -0.99173504  1.00937197  2.44039035  0.
  1.56033298  0.93842299]
intercept: [26.428505]
Model Training Performance
MSE: 48.30490044986666
MAE: 5.560532838972152
RMSE: 6.950172692089503
R2 Score: 45.93412005427824
Adjusted R2 Score: 45.92406175374417
===================================


elasticnet
Coefficients: [ 1.32083116 -1.45900353 -0.9310997   1.00629461  1.97514889  0.21457352
  1.43331711  1.01773739]
intercept: [26.428505]
Model Training Performance
MSE: 50.089826853788104
MAE: 5.691052418765694
RMSE: 7.077416679395675
R2 Score: 43.93631826258378
Adjusted R2 Score: 43.92588829528228
===================================

In [215]:
best_score = max(r2_list)
print('Best Model:', model_names[r2_list.index(best_score)])

Best Model: linear_regression